secrets.cfg
*.pyc
*.egg-info
src/prosody-modules
src/prosody
src/collective.loremipsum
bin
include
node_modules
develop-eggs
lib
parts
var
.mr.developer.cfg
.installed.cfg
pip-selfcheck.json
temp_resources
